* {
    margin: 0;
    padding: 0;
}

/*----------------------------------------------GENERAL*/

body {
    font-family: 'Tahoma', sans-serif;
    background-image: url("../images/soup.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

/*----------------------------------------------COLOURS*/

.navbar {
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #61BF3F;
}

.navbar-light.scroll {
    background-color: #fff;
}

.page-link {
    color: #887f7f;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #61BF3F;
    border-color: #61BF3F;
}

.page-link:hover {
    color: #fff;
    background-color: #887f7f;
}    

nav li a:hover{
    color: #1a6807;
}

body {
    color: #5c5151;
}

.card-deck, .select-row, .full-container, .search-container {
    background-color: #f1f3f6;
}

.full-instructions .card-title {
    color: #61BF3F;
}

.search-btn, .add-btn, .login-btn, .edit-btn, .delete-btn, #size-warning, .full-btn {
    color: #fff;
    background-color: #61BF3F;
}

.btn-primary {
    border-color: #61BF3F;
    background-color: #61BF3F;
}

.btn-primary:hover {
    background-color: #1a6807;
    border-color: #1a6807;
}

.add-title, .recipe-title, .search-title, .recipes-title, .edit-title, .full-recipe-name, .recipe-icons, .matching-title, .per-serve {
    color: #61BF3F;
}

.nutrition, .time {
    color:#61BF3F;
}

#footer-details {
    background-color: #69696988;
}

.social-links i {
    color: #fff;
}

.social-links i:hover {
    color: #61BF3F;
}

.copyright p {
    color: #fff;
}

/*----------------------------------------------MOBILE*/

/*---NAVBAR---*/

.navbar {
    display: float;
}

.navbar-toggler {
    font-size: 2rem;
    line-height: 1.5;
    z-index: 2;
}

.navbar-brand {
    max-height: 20%;
    margin-top: 2%;
    max-width: 20%;
}    

a.nav-link {
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    padding: 2%;
    margin-top: 50px;
    margin-right: 40px;
    z-index: 1;
}

/*--IMAGES--*/

img.logo {
    float: left;
    width: 100px;
    transform: rotate(340deg); 
    position: fixed;
}

#image-file {
    margin-top: 3%;
    margin-bottom: 3%;
}

.image-preview {
    width: 300px;
    height: 300px;
}

.full-img{
    height: 300px;
    width: auto;
    max-width: 500px;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

#size-warning {
    display: none;
    padding: 2%;
    font-size: 1.5em;   
}

/*--BUTTONS--*/

.login-btn {
    margin-left: 40px;
}

.add-btn {
    margin-bottom: 70px;
}

/*--TITLES--*/

.add-title, .recipes-title, .recipe-title, .edit-title, .matching-title {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: 2%;
    font-size: 3em;
}

.full-recipe-name  {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3em;
}

.full-instructions .card-title {
    font-family: 'Kaushan Script', cursive;
    margin-top: 2%;
    font-size: 2em;
    display: inline-block;
}

.search-title{
    font-family: 'Kaushan Script', cursive;
    text-align: left;
    font-size: 1.5em;
    margin: 0;
    padding: 2%;
}

/*--SEARCH AREAS--*/

.search-container {
    width: 100%;
    margin: 8px 0;
}

.select-row {
    padding: 2%;
}

.search-list {
    max-width: 100%;
}

/*--CONTAINERS & ROWS--*/

.card-deck {
    font-size: 0.6em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    height: 100%; 
    box-shadow: 10px 15px 18px -6px #948794;
}

.deck-col {
    margin-bottom: 3%;
}

.full-container, .recipe-summary, .recipe-container, .home-container, .full-row {
    width: 100%;
}

.container-info {
    margin-top: 2%;
    height: 100%;
    text-align: left;
    width: 50%;
}

.recipe-summary {
    position: relative;
}

.full-container {
    box-shadow: 10px 10px 5px 0px #b5b1b5;
    padding: 2%;
    margin-bottom: 2%;
}

.rw-ui-container {
    margin-left: 2%;
    margin-top: 2%;
}


.recipe-row {
    padding: 2%;
}

.recipe-field {
    width: 100%;
    margin-bottom: 2%;
}

.number-field {
    width: 20%;
    margin-bottom: 2%;
    float: right;
}

.diet-field {
    margin-top: 2%;  
}

.input-field {
    vertical-align: middle;
    display: inline-block;
    padding-left: 0;
}

.recipe-icons, .label, .time-text {
    font-size: 1.5em;
    margin-right: 2%;
}

.summary-div {
    padding: 1%;
}

.time {
    display: inline-block;
    margin-left: 3%;
}

.intro-text, .ingredients-text, .method-text {
    margin-bottom: 3%;
    padding: 1%;
    
}

.intro {
    margin-top: 2%;
    font-size: 1rem;
}

.add-row {
    padding: 5%;
    padding-top: 2%;
}

.textareas {
    overflow: hidden;
}

.change-btns {
    margin-bottom: 200px;
}

/*---FOOTER---*/

#footer-details {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.social-links {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 1%;
}

li.list-inline-item {
    display: inline;
}

.fab {
    text-shadow: .10rem .10rem #080808;
}

.copyright p {
    font-size: .7rem;
}


/*----------------------------------------------MEDIA QUERIES*/

/****************************TABLET*********************/

@media (min-width: 576px) {
    
    *:root {
        font-size: 15px;
    }

    

}

/****************************DESKTOP*********************/

@media (min-width: 992px) {
    

.home-container {
    width: 1600px;
}    

img.logo {
    width: 30vh;
}

.recipe-form {
    width: 70%;
}

}