* {
    margin: 0;
    padding: 0;
}

/*----------------------------------------------GENERAL*/

body {
    font-family: 'Tahoma', sans-serif;
    background-image: url("../images/soup.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

/*----------------------------------------------COLOURS*/

.navbar {
    background-color: transparent;
}

a.nav-link {
    color: #61BF3F;
}

nav li a:hover{
    color: #1a6807;
}

body {
    color: rgb(92, 81, 81);
}

.select_row {
    background-color: #e2dada;
}

.search_btn, .add_btn {
    color: #fff;
    background-color: #61BF3F;
}

h3.add_title, h4.recipe_title, .search_title, .recipes_title, .edit_title  {
    color: #61BF3F;
}

.recipe_list {
    background-color: #e2dada; 
}

.nutrition {
    color:#61BF3F;
}

#footer-details {
    background-color: #69696988;
}

.social-links i {
    color: #fff;
}

.social-links i:hover {
    color: #61BF3F;
}

.copyright p {
    color: #fff;
}

/*----------------------------------------------MOBILE*/

/*---LOGO---*/

img.logo {
    float: left;
    width: 100px;
    margin-top: -70px;
    transform: rotate(340deg); 
}

/*---NAVBAR---*/

.navbar {
    display: float;
}

.navbar-toggler {
    font-size: 2rem;
    line-height: 1.5;
    z-index: 2;
}

.navbar-brand {
    max-height: 20%;
    margin-top: 2%;
    max-width: 20%;
}    

a.nav-link {
    font-size: 1rem;
    padding: 2%;
    margin-top: 70px;
    z-index: 1;
}

.recipe_list {
    font-size: 0.6em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
    padding: 10px;
    box-shadow: 10px 15px 18px -6px rgba(148,135,148,1);

}

.recipe_pic {
    float: right;
    width: 50vh;

/*---INDEX.HTML---*/

.login_btn {
    margin-left: 40px;
}

.search_container {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

.search_title{
    font-family: 'Kaushan Script', cursive;
    text-align: left;
    font-size: 20px;
}

.search_btn {
    text-align: center;
} 

.add_row {
    padding: 5%;
    padding-top: 2%;
    width: 95%;
}

/*--TITLES--*/

.add_title, .recipes_title, .edit_title  {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

h4.recipe_title {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

#image_file {
    margin-top: 20%;
}
     

/*---FOOTER---*/

#footer-details {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}


.social-links {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 1%;
}

li.list-inline-item {
    display: inline;
}

.fab {
    text-shadow: .10rem .10rem #080808;
}

.copyright p {
    font-size: .7rem;
}


/*----------------------------------------------MEDIA QUERIES*/

/****************************TABLET*********************/

@media (min-width: 576px) {
    
    *:root {
        font-size: 15px;
    }

}

/****************************DESKTOP*********************/

@media (min-width: 992px) {
    

img.recipe_pic {
    width: 50vh;
}

}