{% extends 'base.html'%}

{% block content %}

<div class="container-fluid recipe-form">
    <h3 class="add-title">Add Recipe</h3>
    <div class="row add-row">
        <form action="{{ url_for('insert_recipe') }}" method="POST" enctype="multipart/form-data"
            class="form-group col-sm-12">
            <!--RECIPE NAME-->
            <div class="row field-row">
                <div class="input-field col-sm-12">
                    <i class="fas fa-clipboard-list recipe-icons"></i>
                    <label for="icon-prefix">Recipe Name</label>
                    <input class="recipe-field" name="recipe_name" type="text" class="validate">
                </div>
            </div>
            <!--AUTHOR-->
            <div class="row">
                <div class="input-field col-sm-12">
                    <i class="fas fa-user recipe-icons"></i>
                    <label for="icon-prefix">Author</label>
                    <input class="recipe-field" name="recipe_author" type="text" class="validate">
                </div>
            </div>

            <div class="container search-container">
                <div class="row select-row">
                    <h4 class="search-title">Choose Search Options</h4>
                    <!--SEARCH OPTIONS-->
                    <div class="meal-field col-sm-4">
                        <label>Course</label>
                        <select name="course">
                            <option value="">--select one--</option>
                            <option value="breakfast">Breakfast</option>
                            <option value="lunch">Lunch</option>
                            <option value="main">Main</option>
                            <option value="dessert">Dessert</option>
                            <option value="sweet-treats">Sweet Treats</option>
                        </select>
                    </div>

                    <div class="cuisine-field col-sm-4">
                        <label>Cuisine</label>
                        <select name="cuisine">
                            <option value="">-- select one --</option>
                            <option value="american">American</option>
                            <option value="argentinean">Argentinean</option>
                            <option value="armenian">Armenian</option>
                            <option value="brazilian">Brazilian</option>
                            <option value="british">British</option>
                            <option value="chinese">Chinese</option>
                            <option value="colombian">Colombian</option>
                            <option value="greek">Greek</option>
                            <option value="indian">Indian</option>
                            <option value="indonesian">Indonesian</option>
                            <option value="israeli">Israeli</option>
                            <option value="italian">Italian</option>
                            <option value="jamaican">Jamaican</option>
                            <option value="japanese">Japanese</option>
                            <option value="lebanese">Lebanese</option>
                            <option value="malaysian">Malaysian</option>
                            <option value="mexican">Mexican</option>
                            <option value="moroccan">Moroccan</option>
                            <option value="thai">Thai</option>
                            <option value="turkish">Turkish</option>
                            <option value="vietnamese">Vietnamese</option>
                        </select>
                    </div>

                    <div class="diet-field col-sm-12">
                        <label>Diet</label>
                        <p class="diet-p"><em>check all that apply</em></p>
                        <input type="checkbox" name="diet" value="Keto" /> Keto
                        <input type="checkbox" name="diet" value="Low Carb" /> Low Carb
                        <input type="checkbox" name="diet" value="Sugar Free" /> Suagr Free
                        <input type="checkbox" name="diet" value="Gluten Free" /> Gluten Free
                        <input type="checkbox" name="diet" value="Vegetarian" /> Vegetarian
                        <input type="checkbox" name="diet" value="Vegan" /> Vegan
                    </div>
                </div>
            </div>
            <!--START OF NUMBER FIELDS-->
            <div class="container number-box">
                <!--PREP TIME-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="far fa-clock recipe-icons"></i>
                        <label for="icon-prefix">Prep Time (mins)</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" name="prep_time" type="text" class="validate">
                    </div>
                </div>
                <!--COOK TIME-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-hourglass-end recipe-icons"></i>
                        <label for="icon-prefix">Cook Time (mins)</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" name="cook_time" type="text" class="validate">
                    </div>
                </div>
                <!--SERVES-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-utensils recipe-icons"></i>
                        <label for="icon-prefix">Serves</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" name="serves" type="text" class="validate">
                    </div>
                </div>
                <!--CALORIES-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-balance-scale recipe-icons"></i>
                        <label for="icon-prefix">Calories</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" name="calories" type="text" class="validate">
                    </div>
                </div>
                <!--CARBS-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-pizza-slice recipe-icons"></i>
                        <label for="icon-prefix">Carbs</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" name="carbs" type="text" class="validate">
                    </div>
                </div>
                <!--PROTEIN-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-drumstick-bite recipe-icons"></i>
                        <label for="icon-prefix">Protein</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" name="protein" type="text" class="validate">
                    </div>
                </div>
            </div>
            <!--END OF NUMBER FIELDS-->

            <!--START OF TEXT AREAS-->
            <div class="row">
                <div class="textareas form-group">
                    <!--INTRO-->
                    <div class="input-field">
                        <label for="intro">Introduction</label>
                        <textarea class="intro-text" rows="4" cols="50" name="blurb" id="blurb" placeholder="Please enter a short blurb about your recipe"></textarea>
                    </div>
                    <!--INGREDIENTS-->
                    <div class="input-field">
                        <label for="icon-prefix">Ingredients</label>
                        <textarea class="ingredients-text" rows="4" cols="50" name="ingredients" id="ingredients"
                            placeholder="Please hit enter after each ingredient so it is on a new line"></textarea>
                    </div>
                    <!--METHOD-->
                    <div class="input-field">
                        <label for="icon-prefix">Method</label>
                        <textarea class="method-text" rows="4" cols="50" name="method" id="method"
                            placeholder="Please hit enter after each instruction so it is on a new line"></textarea>
                    </div>
                </div>
            </div>
            <!--END OF TEXT AREAS-->


            <!--ADD IMAGE-->
            <div class="row">
                <div class="input-field col-sm-12">
                    <label class="file-title" for="image-file">Upload Image</label>
                    <i class="recipe-icons">photo</i>
                    <input id="image_file" name="image_file" type="file" />
                </div>
            </div>
            <!--ADD BUTTON-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-success add-btn">Add Recipe
                        <i class="fas fa-plus recipe-icons"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}