{% extends 'base.html'%}

{% block content %}
<!--ADD RECIPE PAGE-->
<h3 class="add-title">Add Recipe</h3>
<div class="container-fluid change-recipe-form">
    <form action="{{ url_for('add_recipe') }}" method="POST" enctype="multipart/form-data">
        <div class="row row-titles">
            <div class="col-sm-12 col-lg-4">
                <!--RECIPE NAME-->
                <div class="change-name-field">
                    <i class="fas fa-clipboard-list recipe-icons"></i>
                    <label for="icon-prefix">Recipe Name</label>
                    <input class="recipe-name" required name="recipe_name" type="text" class="validate">
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <!--AUTHOR-->
                <div class="change-name-field">
                    <i class="fas fa-user add-fa-user recipe-icons"></i>
                    <label for="icon-prefix">Author</label>
                    <input class="recipe-author" required name="recipe_author" type="text" class="validate">
                </div>
            </div>
        </div>

        <div class="change-search-container">    
            <div class="row row-search h-100">
                <div class="col-sm-12 col-lg-8 my-auto">
                    <!--SEARCH OPTIONS-->
                    <h4 class="search-title">Choose Search Options</h4>
                    <div class="add-course-field">
                        <!--COURSE-->
                        <label><strong>Course</strong> <em> &nbsp;- check all that apply &nbsp;</em>
                            {% for course in courses %}
                            <input type="checkbox" name="course" value="{{course.course}}" /> {{course.course}}
                            {% endfor %}
                        </label>
                    </div>
                    <!--CUISINE-->
                    <div class="cuisine-field">
                        <label><strong>Cuisine - </strong>
                            <select class="cusine-select" name="cuisine">
                                <option value="">-- select one --</option>
                                {% for cuisine in cuisines %}
                                <option value="{{cuisine.cuisine}}">{{cuisine.cuisine}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <!--DIET-->
                    <div class="add-diet-checkbox">
                        <label><strong>Diet</strong> <em> &nbsp;&nbsp;&nbsp;&nbsp; - check all that apply
                                &nbsp;</em>
                            {% for diet in diets %}
                            <input type="checkbox" name="diet" value="{{diet.diet}}" /> {{diet.diet}}
                            {% endfor %}
                        </label>
                    </div>
                </div>

                <!--START OF NUMBER FIELDS-->
                <div class="col-sm-12 col-lg-4">
                    <!--PREP TIME-->
                    <div class="prep">
                        <div class="change-input-field">
                            <i class="far fa-clock recipe-icons"></i>
                            <label for="icon-prefix">Prep Time (mins)</label>
                            <input class="change-number-field" required name="prep_time" type="text" class="validate">
                        </div>
                    </div>
                    <!--COOK TIME-->
                    <div class="cook">
                        <div class="change-input-field">
                            <i class="fas fa-hourglass-end recipe-icons"></i>
                            <label for="icon-prefix">Cook Time (mins)</label>
                            <input class="change-number-field" required name="cook_time" type="text" class="validate">
                        </div>
                    </div>
                    <!--SERVES-->
                    <div class="serves">
                        <div class="change-input-field">
                            <i class="fas fa-utensils recipe-icons"></i>
                            <label for="icon-prefix">Serves</label>
                            <input class="change-number-field" required name="serves" type="text" class="validate">
                        </div>
                    </div>
                    <!--CALORIES-->
                    <div class="calories">
                        <div class="change-input-field">
                            <i class="fas fa-balance-scale recipe-icons"></i>
                            <label for="icon-prefix">Calories (per serve)</label>
                            <input class="change-number-field" required name="calories" type="text" class="validate">
                        </div>
                    </div>
                    <!--CARBS-->
                    <div class="carbs">
                        <div class="change-input-field">
                            <i class="fas fa-pizza-slice recipe-icons"></i>
                            <label for="icon-prefix">Carbs (per serve)</label>
                            <input class="change-number-field" required name="carbs" type="text" class="validate">
                        </div>
                    </div>
                    <!--PROTEIN-->
                    <div class="protein">
                        <div class="change-input-field">
                            <i class="fas fa-drumstick-bite recipe-icons"></i>
                            <label for="icon-prefix">Protein (per serve)</label>
                            <input class="change-number-field" required name="protein" type="text" class="validate">
                        </div>
                    </div>
                </div>
                <!--END OF NUMBER FIELDS-->
            </div>        
        </div> 
           

        <div class="row row-text">
            <div class="col-sm-12 col-lg-4">
                <!--INTRO-->
                <div class="change-input-field">
                    <label class="change-intro-title" for="intro">Introduction</label>
                    <textarea class="intro-text" rows="4" cols="50" required name="blurb" id="blurb"
                        placeholder="Please enter a short blurb about your recipe"></textarea>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <!--INGREDIENTS-->
                <div class="change-input-field">
                    <label class="change-ingredients-title" for="icon-prefix">Ingredients</label>
                    <textarea class="ingredients-text" rows="4" cols="50" required name="ingredients" id="ingredients"
                        placeholder="Please hit enter after each ingredient so it is on a new line"></textarea>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <!--METHOD-->
                <div class="change-input-field">
                    <label class="change-method-title" for="icon-prefix">Method</label>
                    <textarea class="method-text" rows="4" cols="50" required name="method" id="method"
                        placeholder="Please hit enter after each instruction so it is on a new line"></textarea>
                </div>
            </div>
        </div>

        <!--ADD IMAGE-->
        <div class="image-row row">
            <div class="image-preview col-lg-3 col-sm-12">
                <img id="output" class="img-thumbnail img-fluid placeholder-img" src="static/images/placeholder.png" alt="Photo of finished dish">
            </div>
            <div class="choose-file col-lg-9 col-sm-12" >
                <input type="file" accept="image/*" required name="image_file" id="image_file"
                onchange="checkImageSize(event); previewFile(event)">
                <p id="size-warning">Please select a file between 10kb and 1MB to upload</p>
            </div>        
        </div>

        <!--ADD BUTTON-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-lg add-btn"><i class="fa fa-plus"></i> Add Recipe</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}