{% extends 'base.html'%}

{% block content %}

<div class="container-fluid recipe-form">
    <h3 class="add-title">Add Recipe</h3>
    <div class="row add-row">
        <form action="{{ url_for('add_recipe') }}" method="POST" enctype="multipart/form-data"
            class="form-group col-sm-12">
            <!--RECIPE NAME-->
            <div class="row field-row">
                <div class="input-field col-sm-12">
                    <i class="fas fa-clipboard-list recipe-icons"></i>
                    <label for="icon-prefix">Recipe Name</label>
                    <input class="recipe-field" required name="recipe_name" type="text" class="validate">
                </div>
            </div>
            <!--AUTHOR-->
            <div class="row">
                <div class="input-field col-sm-12">
                    <i class="fas fa-user recipe-icons"></i>
                    <label for="icon-prefix">Author</label>
                    <input class="recipe-field" required name="recipe_author" type="text" class="validate">
                </div>
            </div>

            <div class="container search-container">
                <div class="row select-row">
                    <h4 class="search-title">Choose Search Options</h4>
                    <!--SEARCH OPTIONS-->
                    <div class="add-course-field col-sm-12">
                        <label>Course</label>
                        <label><strong>Course</strong> <em> &nbsp;- check all that apply &nbsp;</em>
                            {% for course in courses %}
                            <input type="checkbox" name="course" value="{{course.course}}" /> {{course.course}}
                            {% endfor %}
                        </label>
                    </div>

                    <div class="cuisine-field col-sm-12">
                        <label><strong>Cuisine - </strong>
                            <select class="cusine-select" name="cuisine">
                                <option value="">-- select one --</option>
                                {% for cuisine in cuisines %}
                                <option value="{{cuisine.cuisine}}">{{cuisine.cuisine}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>

                    <div class="col-sm-4">
                        <div class="add-diet-checkbox" >
                            <label><strong>Diet</strong> <em> &nbsp;&nbsp;&nbsp;&nbsp; - check all that apply &nbsp;</em>
                                {% for diet in diets %}
                                <input type="checkbox" name="diet" value="{{diet.diet}}" /> {{diet.diet}}
                                {% endfor %}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--START OF NUMBER FIELDS-->
            <div class="container number-box">
                <!--PREP TIME-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="far fa-clock recipe-icons"></i>
                        <label for="icon-prefix">Prep Time (mins)</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" required name="prep_time" type="text" class="validate">
                    </div>
                </div>
                <!--COOK TIME-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-hourglass-end recipe-icons"></i>
                        <label for="icon-prefix">Cook Time (mins)</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" required name="cook_time" type="text" class="validate">
                    </div>
                </div>
                <!--SERVES-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-utensils recipe-icons"></i>
                        <label for="icon-prefix">Serves</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" required name="serves" type="text" class="validate">
                    </div>
                </div>
                <!--CALORIES-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-balance-scale recipe-icons"></i>
                        <label for="icon-prefix">Calories</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" required name="calories" type="text" class="validate">
                    </div>
                </div>
                <!--CARBS-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-pizza-slice recipe-icons"></i>
                        <label for="icon-prefix">Carbs</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" required name="carbs" type="text" class="validate">
                    </div>
                </div>
                <!--PROTEIN-->
                <div class="row">
                    <div class="input-field col-sm-10">
                        <i class="fas fa-drumstick-bite recipe-icons"></i>
                        <label for="icon-prefix">Protein</label>
                    </div>
                    <div class="col-sm-2">
                        <input class="number-field" required name="protein" type="text" class="validate">
                    </div>
                </div>
            </div>
            <!--END OF NUMBER FIELDS-->

            <!--START OF TEXT AREAS-->
            <div class="row">
                <div class="textareas form-group">
                    <!--INTRO-->
                    <div class="input-field">
                        <label for="intro">Introduction</label>
                        <textarea class="intro-text" rows="4" cols="50" required name="blurb" id="blurb"
                            placeholder="Please enter a short blurb about your recipe"></textarea>
                    </div>
                    <!--INGREDIENTS-->
                    <div class="input-field">
                        <label for="icon-prefix">Ingredients</label>
                        <textarea class="ingredients-text" rows="4" cols="50" required name="ingredients" id="ingredients"
                            placeholder="Please hit enter after each ingredient so it is on a new line"></textarea>
                    </div>
                    <!--METHOD-->
                    <div class="input-field">
                        <label for="icon-prefix">Method</label>
                        <textarea class="method-text" rows="4" cols="50" required name="method" id="method"
                            placeholder="Please hit enter after each instruction so it is on a new line"></textarea>
                    </div>
                </div>
            </div>
            <!--END OF TEXT AREAS-->


            <!--ADD IMAGE-->
            <div class="row">
                <div class="image-preview">
                    <img id="output" class="img-thumbnail img-fluid placeholder-img" src="static/images/placeholder.png"
                        alt="Photo of finished dish">
                </div>
                <div class="updated-image">
                    <input type="file" accept="image/*" required name="image_file" id="image_file" onchange="checkImageSize(event); previewFile(event)">
                </div>
                <p id="size-warning">Please select a file between 10kb and 20Mb to upload</p>
            </div>
            <!--ADD BUTTON-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-success add-btn">Add Recipe
                        <i class="fas fa-plus recipe-icons"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}