<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="shorthcut icon" type="image/png" href="static\images\favicon.png" />
    <title>Keto Kitchen</title>
</head>

<body class="background">
    <header>
        <!--Navigation-->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <div class="container">
                        <a href="#" class="brand-logo"></a>
                        <a href="#" class="sidenav-trigger" data-target="mobile-links">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="addrecipe.html">Add Recipe</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="addrecipe.html">Add Recipe</a></li>
            </ul>
        </div>
    </header>

    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>