{% extends 'base.html'%}

{% block content %}
<!--EDIT RECIPE PAGE-->
<h3 class="edit-title">Edit Recipe</h3>
<div class="container-fluid change-recipe-form">
    <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" method="POST" enctype="multipart/form-data">
        <div class="row row-titles">
            <div class="col-sm-12 col-lg-4">
                <!--RECIPE NAME-->
                <div class="change-name-field">
                    <i class="fas fa-clipboard-list recipe-icons"></i>
                    <label for="icon-prefix">Recipe Name</label>
                    <input id="icon-prefix" class="recipe-name validate" name="recipe_name" type="text"
                        value="{{recipe.recipe_name}}">
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <!--AUTHOR-->
                <div class="change-name-field">
                    <i class="fas fa-user recipe-icons"></i>
                    <label for="icon-prefix">Author</label>
                    <input class="recipe-author validate" name="recipe_author" type="text"
                        value="{{recipe.recipe_author}}">
                </div>
            </div>
        </div>

        <div class="change-search-container">
            <div class="row row-search h-100">
                <div class="col-sm-12 col-lg-8 my-auto">
                    <!--SEARCH OPTIONS-->
                    <h4 class="search-title">Choose Search Options</h4>
                    <div class="edit-course-field">
                        <!--COURSE-->
                        <span><strong>Course</strong> <em> &nbsp;- check all that apply &nbsp;</em>
                            {% for course in courses %}
                            <label>{{ course.courses}}
                                <input type="checkbox" name="course" value="{{course.course}}"
                                {{'checked' if course.course in recipe.course else ''}} />{{course.course}}
                            </label>
                            {% endfor %}
                        </span>
                    </div>
                    <!--CUISINE-->
                    <div class="cuisine-field">
                        <label><strong>Cuisine - </strong>
                            <select name="cuisine">
                                <option value="">-- select one --</option>
                                {% for cuisine in cuisines %}
                                <option value="{{cuisine.cuisine}}"
                                    {{'selected' if cuisine.cuisine == recipe.cuisine else ''}}>{{cuisine.cuisine}}
                                </option>
                                {% endfor %}
                            </select>
                        </label>    
                    </div>
                    <!--DIET-->
                    <div class="edit-diet-field">
                        <span><strong>Diet</strong> <em> &nbsp;&nbsp;&nbsp;&nbsp; - check all that apply &nbsp;</em>
                            {% for diet in diets %}
                            <label>{{ diet.diets }}
                                <input type="checkbox" name="diet" value="{{diet.diet}}"
                                {{'checked' if diet.diet in recipe.diet else ''}} />{{diet.diet}}
                            </label>
                            {% endfor %}
                        </span>
                    </div>
                </div>


                <!--START OF NUMBER FIELDS-->
                <div class="col-sm-12 col-lg-4">
                    <!--PREP TIME-->
                    <div class="prep">
                        <div class="change-input-field">
                            <i class="far fa-clock recipe-icons"></i>
                            <label for="icon-prefix">Prep Time (mins)</label>
                            <input class="change-number-field validate" name="prep_time" type="text" 
                                value="{{recipe.prep_time}}">
                        </div>
                    </div>
                    <!--COOK TIME-->
                    <div class="cook">
                        <div class="change-input-field">
                            <i class="fas fa-hourglass-end recipe-icons"></i>
                            <label for="icon-prefix">Cook Time (mins)</label>
                            <input class="change-number-field validate" name="cook_time" type="text" 
                                value="{{recipe.cook_time}}">
                        </div>
                    </div>
                    <!--SERVES-->
                    <div class="serves">
                        <div class="change-input-field">
                            <i class="fas fa-utensils recipe-icons"></i>
                            <label for="icon-prefix">Serves</label>
                            <input class="change-number-field validate" name="serves" type="text" 
                                value="{{recipe.serves}}">
                        </div>
                    </div>
                    <!--CALORIES-->
                    <div class="calories">
                        <div class="change-input-field">
                            <i class="fas fa-balance-scale recipe-icons"></i>
                            <label for="icon-prefix">Calories (per serve)</label>
                            <input class="change-number-field validate" name="calories" type="text" 
                                value="{{recipe.calories}}">
                        </div>
                    </div>
                    <!--CARBS-->
                    <div class="carbs">
                        <div class="change-input-field">
                            <i class="fas fa-pizza-slice recipe-icons"></i>
                            <label for="icon-prefix">Carbs (per serve)</label>
                            <input class="change-number-field validate" name="carbs" type="text" 
                                value="{{recipe.carbs}}">
                        </div>
                    </div>
                    <!--PROTEIN-->
                    <div class="protein">
                        <div class="change-input-field">
                            <i class="fas fa-drumstick-bite recipe-icons"></i>
                            <label for="icon-prefix">Protein (per serve)</label>
                            <input class="change-number-field validate" name="protein" type="text" 
                                value="{{recipe.protein}}">
                        </div>
                    </div>
                </div>
                <!--END OF NUMBER FIELDS-->
            </div>
        </div>


        <div class="row row-text">
            <div class="col-sm-12 col-lg-4">
                <!--INTRO-->
                <div class="change-name-field">
                    <label class="change-intro-title" for="intro">Introduction</label>
                    <textarea id="intro" class="intro-text blurb" rows="4" cols="50" required name="blurb"
                        placeholder="Please enter a short blurb about your recipe">{{recipe.blurb}}</textarea>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <!--INGREDIENTS-->
                <div class="change-name-field">
                    <label class="change-ingredients-title" for="icon-prefix">Ingredients</label>
                    <textarea class="ingredients-text ingredients" rows="4" cols="50" required name="ingredients"
                        placeholder="Please hit enter after each ingredient so it is on a new line">{{ingredients}}</textarea>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <!--METHOD-->
                <div class="change-name-field">
                    <label class="change-method-title" for="icon-prefix">Method</label>
                    <textarea class="method-text" rows="4" cols="50" required name="method" id="method"
                        placeholder="Please hit enter after each instruction so it is on a new line">{{method}}</textarea>
                </div>
            </div>
        </div>

        <!--ADD IMAGE-->
        <div class="image-row row">
            <div class="image-preview col-lg-3 col-sm-12">
                <img id="output" class="img-thumbnail img-fluid placeholder-img" src="{{recipe.image_url}}"
                    alt="Photo of finished dish">
            </div>
            <div class="choose-file col-lg-9 col-sm-12">
                <input type="file" accept="image/*" name="image_file" id="image_file"
                    onchange="checkImageSize(event); previewFile(event)">
                <p id="size-warning">Please select a file between 10kb and 1MB to upload</p>
            </div>
        </div>

        <!--ADD BUTTON-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-lg edit-btn"><i class="fa fa-plus"></i> Update Recipe</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}