{% extends 'base.html'%} {% block content %}

<h3>{{recipe.recipe_name}}</h3>
<div class="row">
    <form action="{{ url_for('full_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
        <div class="row">

            <!--RECIPE NAME-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate"
                        value="{{recipe.recipe_name}}">
                    <label for="icon_prefix">Recipe Name</label>
                </div>
            </div>
            <!--RECIPE AUTHOR-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="author" id="author" class="materialize-textarea">{{recipe.author}}</textarea>
                    <label for="icon_telephone">Author</label>
                </div>
            </div>
            <!--PREP TIME-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-clock"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate"
                        value="{{recipe.prep_time}}">
                    <input class="recipe_field" name="prep_time" type="text" class="validate">
                    <label for="icon_prefix">Prep Time (mins)</label>
                </div>
            </div>
            <!--COOK TIME-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hourglass-end"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate"
                        value="{{recipe.cook_time}}">
                    <input class="recipe_field" name="cook_time" type="text" class="validate">
                    <label for="icon_prefix">Cook Time (mins)</label>
                </div>
            </div>
            <!--SERVES-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate"
                        value="{{recipe.serves}}">
                    <input class="recipe_field" name="serves" type="text" class="validate">
                    <label for="icon_prefix">Serves</label>
                </div>
            </div>
            
            <!--INGREDIENTS-->
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Ingredients</h3>
                        <div class="card-body">
                                {% for ingredient in ingredients %}
                                <input id="recipe_name" name="recipe_name" type="text" class="validate"
                                value="{{ingredient}}">
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <!--METHOD-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list"></i>
                    {% for method in method %}
                    <input id="recipe_name" name="recipe_name" type="text" class="validate"
                        value="{{method}}">
                        {% endfor %}
                    <input class="recipe_field" name="method" type="text" class="validate">
                    <label for="icon_prefix">Method</label>
                </div>
            </div>

            <!--BUTTONS-->
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Edit
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Delete
                    <i class="fas fa-plus"></i>
                </button>
            </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

</script>
{% endblock %}