{% extends 'base.html'%}

{% block content %}
<div class="container home-container">
    <h3 class="recipes-title">Recipes</h3>
    <div class="container search-container">
        <h4 class="search-title">Search Recipes</h4>
        <div class="row select-row">
            <!--SEARCH CRITERIA-->
            <div class="col-sm-4">
                <label>Course</label>
                <div class="edit-course-field col-sm-12">
                    <label>Course</label>
                    <p class="diet-p"><em>check all that apply</em></p>
                    <input type="checkbox" name="course" value="Breakfast" /> Breakfast
                    <input type="checkbox" name="course" value="Lunch" /> Lunch
                    <input type="checkbox" name="course" value="Main" /> Main
                    <input type="checkbox" name="course" value="Dessert" /> Dessert
                    <input type="checkbox" name="course" value="Sweet-Treats" /> Sweet Treats
                </div>
            </div>

            <div class="col-sm-4">
                <label>Cuisine</label>
                <select class="custom-select">
                    <option value="">-- select one --</option>
                    <option value="American">American</option>
                    <option value="Argentinean">Argentinean</option>
                    <option value="Armenian">Armenian</option>
                    <option value="Brazilian">Brazilian</option>
                    <option value="British">British</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Colombian">Colombian</option>
                    <option value="Greek">Greek</option>
                    <option value="French">Freek</option>
                    <option value="Indian">Indian</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Israeli">Israeli</option>
                    <option value="Italian">Italian</option>
                    <option value="Jamaican">Jamaican</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Lebanese">Lebanese</option>
                    <option value="Malaysian">Malaysian</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Moroccan">Moroccan</option>
                    <option value="Thai">Thai</option>
                    <option value="Turkish">Turkish</option>
                    <option value="Vietnamese">Vietnamese</option>
                </select>
            </div>

            <div class="col-sm-4">
                <label>Diet <em> check all that apply</em></label>
                <form action="" method="post">
                    <input type="checkbox" name="diet1" value="Keto" /> Keto
                    <input type="checkbox" name="diet2" value="Low Carb" /> Low Carb
                    <input type="checkbox" name="diet3" value="Sugar Free" /> Suagr Free
                    <input type="checkbox" name="diet4" value="Gluten Free" /> Gluten Free
                    <input type="checkbox" name="diet5" value="Vegetarian" /> Vegetarian
                    <input type="checkbox" name="diet6" value="Vegan" /> Vegan
                </form>
            </div>
        </div>
    </div>
    <!--SEARCH BUTTON-->
    <div class="row">
        <button type="button" class="btn btn-success mx-auto  search-btn">Search
            <i class="fas fa-search"></i>
        </button>
    </div>

    <!--DISPLAYS LIST OF RECIPES-->

    <div class="container recipe-container">
        <div class="row recipe-row">
            {% for recipe in recipes %}
            <div class="col-lg-4">
                <div class="card recipe-card">
                    <img class="card-img-top recipe-pic img-fluid mx-auto d-block" src="{{recipe.image_url}}"
                        alt="Photo of finished dish">
                    <div class="rw-ui-container"></div>
                    <div class="card-body recipe-body">
                        <h5 class="recipe-title">{{recipe.recipe_name}}</h5>
                        <div class="input-field col-sm-12">
                            <i class="far fa-clock recipe-icons"></i>
                            <label class="time-text" for="icon-prefix">Prep Time (mins)</label>
                            <h6 class="time">{{recipe.prep_time}}</h6>
                        </div>
                        <div class="input-field col-sm-10">
                            <i class="fas fa-hourglass-end recipe-icons"></i>
                            <label class="time-text" for="icon-prefix">Cook Time (mins)</label>
                            <h6 class="time">{{recipe.cook_time}}</h6>
                        </div>
                        <div class="input-field col-sm-10">
                            <i class="fas fa-utensils recipe-icons"></i>
                            <label class="time-text" for="icon-prefix">Serves</label>
                            <h6 class="time">{{recipe.serves}}</h6>
                        </div>
                        <h6>Per Serve:</h6>
                        <h6 class="nutrition">Calories: {{recipe.calories}} | Carbs: {{recipe.carbs}} | Protein:
                            {{recipe.protein}}
                        </h6>
                        <p class="card-text intro">{{recipe.blurb}}</p>
                        <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}"
                            class="btn btn-primary full-btn">Full
                            Recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}