<!DOCTYPE html>
<div class="container-fluid search-container">
    <form action="{{ url_for('display_results') }}" method="GET">
        <div class="row select-row">
            <div class="col-sm-12 col-md-9 search-list">
                <h4 class="search-title">Search Recipes</h4>
                <div class="course-checkbox">
                    <span><strong>Course</strong> <em> &nbsp;- check all that apply &nbsp;</em>
                        {% for course in courses %}
                        <label>{{course.courses}}
                            <input type="checkbox" name="course" value="{{course.course}}"
                                {{'checked' if course.course in courseSelected else ''}} /> {{course.course}}
                        </label>    
                        {% endfor %}
                        <input type="hidden" name="course" value="">
                    </span>
                </div>
                <div class="cuisine-list">
                    <label><strong>Cuisine - </strong>
                        <select class="cusine-select" name="cuisine">
                            <option value="">&nbsp; -select one- &nbsp;</option>
                            {% for cuisine in cuisines %}
                            <option value="{{cuisine.cuisine}}"
                                {{'selected' if cuisine.cuisine == cuisineSelected else ''}}>{{cuisine.cuisine}}
                            </option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="diet-checkbox">
                    <span><strong>Diet</strong> <em> &nbsp;&nbsp;&nbsp;&nbsp; - check all that apply &nbsp;</em>
                        {% for diet in diets %}
                        <label>{{diet.diets}}
                            <input type="checkbox" name="diet" value="{{diet.diet}}"
                                {{'checked' if diet.diet in dietSelected else ''}} /> {{diet.diet}}
                        </label>    
                        {% endfor %}
                        <input type="hidden" name="diet" value="">
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 search-btn-div d-flex align-items-center">
                <button type="submit" class="btn btn-success mx-auto search-btn">
                    <i class="fas fa-search"></i>
                    <span>Search</span>
                </button>
            </div> 
        </div>    
    </form>
</div>
