<div class="container-fluid recipe-form">
        <h3 class="add-title">Add Recipe</h3>
        <div class="row add-form">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <form  class="validation">
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Type name here..." required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Adress</label>
                        <input type="email" class="form-control" id="email" placeholder="Type email here..." required>
                    </div>
                    <div class="form-group">
                        <label for="number">Phone Number</label>
                        <input type="num" class="form-control" id="number" placeholder="Type number here..." required>
                        <p><i>We will never share your details with anyone.</i></p>
                    </div>
                    <div class="message-box">
                    <label for="comment">Message</label>
                      <textarea class="form-control" rows="5" id="comment" placeholder="Type message here..."></textarea>
                      </div>
                      <div class="send-btn">
                        <button type="submit" class="btn btn-lg send-button">Send</button>
                    </div>
                </form>
            </div>    
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="map">
                    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45378.47292413809!2d169.16400538729232!3d-44.69604334927337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa9d54ed23fa347cb%3A0xa32270ead9b085fa!2s83+BLACK+PEAK+Rd%2C+Wanaka+9382!5e0!3m2!1sen!2snz!4v1553630608526"
                        ></iframe>
                        <p>Phone: 03 443 5115<br>83 Black Peak Rd<br>Wanaka<br>Email: <u>majesticequestrian@live.com</u></p>
                </div>
            </div>
        </div>   
    </div>